# Might need: brew install swig libjpeg libpng

gymnasium[all]
autorom[accept-rom-license]

torch

numpy
pandas
scipy
matplotlib
imageio

# Library for utilising Apple M chips
# *-----------------------------------------*
mlx

# For notebook examples and gymnasium display
# *-----------------------------------------*
jupyter
chardet
tqdm

# For transfer-learning.
# *---------------------