# Might need: brew install swig libjpeg libpng

gymnasium[all]

torch

numpy
matplotlib
imageio

# Library for utilising Apple M chips
# *-----------------------------------------*
mlx

# For notebook examples and gymnasium display
# *-----------------------------------------*
jupyter
chardet

# For transfer-learning.
# *-----------------------------------------*
torchvision
pillow
