gymnasium[all]  # May need to have: brew install swig

torch
mlx             # For Apple M chips

jupyter
chardet         # For jupyter and gymnasium display

numpy
matplotlib
imageio         # For creating gifs
